#description {
    margin-top: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#description h3 {
    font-size: 2.2rem;
    font-size: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #0096C7;
}

.text_about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    overflow: hidden;

}

.text_about::before {
    content: '';
    position: absolute;
    top: 14rem;
    left: -8rem;
    width: 100%;
    height: 100%;
    background-image: url('/img/css3.png');
    background-size: 10rem;
    background-position: left top;
    background-repeat: no-repeat;
    transform-origin: center;
    transform: rotate(20deg);
    /* Adjust the rotation angle as needed */
    z-index: 5;
    /* Place it behind the content */
}

.text_about::after {
    content: '';
    position: absolute;
    top: 18rem;
    /* Adjust top position as needed */
    right: -5rem;
    /* Align to the right side */
    width: 100%;
    height: 100%;
    background-image: url('/img/html5.png');
    background-size: 10rem;
    background-position: right top;
    background-repeat: no-repeat;
    transform-origin: center;
    transform: rotate(-25deg);
    /* Adjust the rotation angle as needed */
    z-index: 5;
    /* Place it behind the content */
}

.item_about {
    max-width: 35rem;
    color: darkslategrey;
    width: 100%;
    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, #fff, #f0f0f0);
    border: none;
    opacity: 0;
    transform: translateX(2%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}